[submodule "external/specta"]
	path = external/specta
	url = git@github.groupondev.com:mobile-consumer/specta.git
[submodule "external/expecta"]
	path = external/expecta
	url = git@github.groupondev.com:mobile-consumer/expecta.git
[submodule "external/xcconfigs"]
	path = external/xcconfigs
	url = git@github.groupondev.com:mobile-consumer/xcconfigs.git
